#pragma code_page(65001)

#include "resource.h"
#include <winres.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 RT_MANIFEST "makepri.manifest"

1 VERSIONINFO
 FILEVERSION 10,0,26100,7705
 PRODUCTVERSION 10,0,26100,7705
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "Command line tool for creating PRI files\0"
            VALUE "FileVersion", "10.0.26100.7705 (WinBuild.160101.0800)\0"
            VALUE "InternalName", "Makepri.exe\0"
            VALUE "LegalCopyright", "\x00A9 Microsoft Corporation. All rights reserved.\0"
            VALUE "OriginalFilename", "Makepri.exe\0"
            VALUE "ProductName", "Microsoft\x00AE Windows\x00AE Operating System\0"
            VALUE "ProductVersion", "10.0.26100.7705\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

STRINGTABLE
BEGIN
    MAKEPRI_STRING_PRODUCT_NAME "Microsoft (R) MakePRI Tool"
    MAKEPRI_STRING_COPYRIGHT "Copyright (C) 2013 Microsoft. All rights reserved."
    MAKEPRI_STRING_INSUFFICIENT_PARAMETERS "Insufficient parameters."
    MAKEPRI_STRING_UNKNOWN_OPTION_SPECIFIED "Unknown option specified - '%s'"
    MAKEPRI_STRING_EXPECTED_PARAMETER_NOT_FOUND "Expected parameter not found"
    MAKEPRI_STRING_SAME_OPTION_WAS_SET_MULTIPLE_TIMES "Same option was set multiple times"
    MAKEPRI_STRING_OPTION_VERBOSE_SPECIFIED "Option Verbose specified"
    MAKEPRI_STRING_OPTION_OVERWRITE_SPECIFIED "Option Overwrite specified"
    MAKEPRI_STRING_OPTION_PROJECTROOT_SPECIFIED "Option ProjectRoot specified"
    MAKEPRI_STRING_OPTION_CONFIGXML_SPECIFIED "Option Configxml specified"
    MAKEPRI_STRING_OPTION_INDEXLOG_FILE_SPECIFIED "Option IndexLog file specified"
    MAKEPRI_STRING_OPTION_OUTPUTFILE_SPECIFIED "Option OutputFile specified"
    MAKEPRI_STRING_OPTION_INDEXNAME_SPECIFIED "Option IndexName specified"
    MAKEPRI_STRING_OPTION_VERSIONMAJOR_SPECIFIED "Option versionmajor specified"
    MAKEPRI_STRING_OPTION_INDEXFILE_SPECIFIED "Option indexfile specified"
    MAKEPRI_STRING_OPTION_DUMPTYPE_SPECIFIED "Option dumptype specified"
    MAKEPRI_STRING_USAGE_SCENARIO_NEW_SPECIFIED "Usage scenario New specified"
    MAKEPRI_STRING_USAGE_SCENARIO_VERSIONED_SPECIFIED "Usage scenario Versioned specified"
    MAKEPRI_STRING_USAGE_SCENARIO_RESOURCEPACK_SPECIFIED "Usage scenario ResourcePack specified"
    MAKEPRI_STRING_USAGE_SCENARIO_DUMP_SPECIFIED "Usage scenario Dump specified"
    MAKEPRI_STRING_OPTIONS "Options:"
    MAKEPRI_STRING_PROJECTROOT_PR_FOLDERPATH_ROOT_LOCATION_OF "    /ProjectRoot(pr)  : <FOLDERPATH> Root location of project files"
    MAKEPRI_STRING_CONFIGXML_CF_FILEPATH_CONFIGURATION_FILE_LOCATION "    /ConfigXml(cf)    : <FILEPATH> Configuration file location. Use\n                        'Makepri.exe createconfig' command to generate one"
    MAKEPRI_STRING_OUTPUTFILE_OF_FILEPATH_OUTPUT_LOCATION_OF "    /OutputFile(of)   : <FILEPATH> Output location of PRI file, default is\n                        [current directory]\\resources.pri"
    MAKEPRI_STRING_INDEXNAME_IN_STRING_NAME_FOR_GENERATED "    /IndexName(in)    : <STRING> Name for the generated index of resources.\n                        Typically matches the AppX package name, class library\n                        simple name, etc. May be supplied via the\n                        [manifest] parameter.\n                        If IndexName is not specified and an AppX manifest\n                        file is not present, the default name 'Application'\n                        will be used."
    MAKEPRI_STRING_VERSIONMAJOR_VMA_INTEGER_DEPRECATED_MAJOR_VERSION "    /VersionMajor(vma): <INTEGER> [Deprecated] Major version number for\n                        index, default is 1"
    MAKEPRI_STRING_INDEXFILE_IF_FILEPATH_LOCATION_OF_BASE "    /IndexFile(if)    : <FILEPATH> Location of the base PRI or XML schema file.\n                        Default is [projectroot]\\resources.pri"
    MAKEPRI_STRING_DUMP_OUTPUT_FILE_OPTION_HELP "    /OutputFile(of)   : <FILEPATH> Output location of the dump file, default\n                        is .\\[indexfile].xml"
    MAKEPRI_STRING_DUMPTYPE_DT_STRING_FORMAT_OF_DUMPED "    /DumpType(dt)     : <STRING> Format of the dumped file, default is\n                        Basic"
    MAKEPRI_STRING_OVERWRITE_O_OVERWRITE_EXISTING_OUTPUT_FILE "    /Overwrite(o)     : Overwrite an existing output file of the same name\n                        without prompting"
    MAKEPRI_STRING_VERBOSE_V_CAUSES_VERBOSE_MESSAGES_TO "    /Verbose(v)       : Causes verbose messages to be output to the console"
    MAKEPRI_STRING_HELP_H_DISPLAY_USAGE_HELP_TEXT "    /Help(h, ?)       : Display the usage help text"
    MAKEPRI_STRING_INDEXLOG_IL_FILEPATH_XML_LOG_OF "    /IndexLog(il)     : <FILEPATH> XML Log of indexed resources, no file\n                        generated by default"
    MAKEPRI_STRING_AUTOMERGE_AM_THIS_FLAG_IS_NOT "    /AutoMerge(am)    : This flag is not recommended for normal use with AppX\n                        packages. It causes Makepri.exe to set the auto\n                        merge flag within the PRI file. Default is not set."
    MAKEPRI_STRING_INDEXFILE_IF_FILEPATH_LOCATION_OF_PRI "    /IndexFile(if)    : <FILEPATH> Location of the PRI file to dump from,\n                        default is .\\resources.pri"
    MAKEPRI_STRING_FOLDERPATH_IS_VALID_PATH_TO_FOLDER "    FOLDERPATH       - is a valid path to a folder"
    MAKEPRI_STRING_FILEPATH_IS_PATH_TO_FILE_EITHER "    FILEPATH         - is a path to a file, either relative to the current\n                       directory or absolute"
    MAKEPRI_STRING_DUMP_TYPE "Dump Type:"
    MAKEPRI_STRING_EITHER_BASIC_DETAILED_SCHEMA_OR_SUMMARY "    Either 'Basic', 'Detailed', 'Schema' or 'Summary'"
    MAKEPRI_STRING_USAGE "Usage:"
    MAKEPRI_STRING_MAKEPRI_EXE_COMMAND_OPTIONS "    MakePri.exe <Command> [options]"
    MAKEPRI_STRING_EXAMPLE "Example:"
    MAKEPRI_STRING_MAKEPRI_EXE_NEW_PR_C_MYAPP "    MakePri.exe new /pr C:\\MyApp\\src\\ /cf C:\\MyApp\\priconfig.xml /in PackageName"
    MAKEPRI_STRING_DESCRIPTION "Description:"
    MAKEPRI_STRING_MAKEPRI_EXE_CREATES_DUMPS_AND_DOES "    MakePri.exe creates, dumps and does utility functions on a PRI file.\n    A PRI file is an index of application resources (i.e. strings, files, etc)."
    MAKEPRI_STRING_COMMAND_OPTIONS "Command Options:"
    MAKEPRI_STRING_MAKEPRI_EXE_NEW_CREATES_NEW_PRI "    MakePri.exe new            Creates a new PRI file from scratch"
    MAKEPRI_STRING_MAKEPRI_EXE_VERSIONED_CREATES_PRI_FILE "    MakePri.exe versioned      Creates a PRI file based off a previous version"
    MAKEPRI_STRING_MAKEPRI_EXE_RESOURCEPACK_CREATES_PRI_FILE "    MakePri.exe resourcepack   Creates a PRI file that contains additional\n                               resource variants for a base PRI"
    MAKEPRI_STRING_MAKEPRI_EXE_DUMP_DUMPS_CONTENTS_OF "    MakePri.exe dump           Dumps the contents of a PRI file"
    MAKEPRI_STRING_HELP "Help:"
    MAKEPRI_STRING_SPECIFY_COMMAND_WITH_HELP_FOR_MORE "    Specify a command with help for more detailed help"
    MAKEPRI_STRING_MAKEPRI_EXE_NEW "    MakePri.exe new /?"
    MAKEPRI_STRING_MAKEPRI_EXE_NEW_PR_PROJECT_ROOT "    MakePri.exe new /pr <project root> /cf <config file> [options]"
    MAKEPRI_STRING_NEW_COMMAND_EXAMPLE "    MakePri.exe new /pr C:\\MyApp\\src\\ /cf C:\\MyApp\\priconfig.xml /mn\n    C:\\MyApp\\AppXManifest.xml /of C:\\MyApp\\src\\resources.pri /o"
    MAKEPRI_STRING_CREATES_PRI_FILE_AT_OUTPUTFILE_BY "    Creates a PRI file at [outputfile] by indexing all files in the\n    [projectroot]and its subdirectories as directed by the [configxml]. The\n    index will be assigned [indexname] to reference resources in the application"
    MAKEPRI_STRING_MAKEPRI_EXE_VERSIONED_PR_PROJECT_ROOT "    MakePri.exe versioned /pr <project root> /cf <config file> [options]"
    MAKEPRI_STRING_MAKEPRI_EXE_VERSIONED_O_IF_C "    MakePri.exe versioned /o /if C:\\MyApp\\1.2\\resources.pri /pr C:\\MyApp\\src\n    /cf C:\\MyApp\\priconfig.xml /of C:\\MyApp\\src\\resources.pri /o"
    MAKEPRI_STRING_MAKEPRI_EXE_VERSIONED_CREATES_VERSIONED_PRI "    MakePri.exe versioned creates a versioned PRI file at [outputfile] by\n    indexing all files in the [projectroot] and its subdirectories based on\n    [indexfile] and as directed by the [configxml]."
    MAKEPRI_STRING_MAKEPRI_EXE_RESOURCEPACK_PR_PROJECT_ROOT "    MakePri.exe resourcepack /pr <project root> /cf <config file> [options]"
    MAKEPRI_STRING_MAKEPRI_EXE_RESOURCEPACK_O_IF_C "    MakePri.exe resourcepack /o /if C:\\MyApp\\1.2\\resources.pri\n    /pr C:\\MyAppEs /cf C:\\MyAppEs\\priconfig.xml /of C:\\MyAppEs\\resources.pri"
    MAKEPRI_STRING_RESOURCEPACK_COMMAND_DESCRIPTION "    MakePri.exe resourcepack creates a PRI file at [outputfile] by indexing\n    all files in the [projectroot] and its subdirectories as directed by the\n    [configxml]. ResourcePack PRI files contain only additional variants of\n    resources already specified in [indexfile]."
    MAKEPRI_STRING_MAKEPRI_EXE_DUMP_OPTIONS "    MakePri.exe dump [options]"
    MAKEPRI_STRING_MAKEPRI_EXE_DUMP_IF_C_MYAPP "    MakePri.exe dump /if C:\\MyApp\\resources.pri\n    /of C:\\resources.pri.xml"
    MAKEPRI_STRING_MAKEPRI_EXE_DUMP_OUTPUTS_DUMPED_XML "    MakePri.exe dump outputs a dumped xml file at [outputfile] containing a\n    list of all resources in [indexfile]."
    MAKEPRI_STRING_OPTION_MAPPINGFILE_SPECIFIED "Option mappingfile specified"
    MAKEPRI_STRING_IS_NOT_SUPPORTED_MAPPING_FILE_FORMAT "'%s' is not a supported mapping file format."
    MAKEPRI_STRING_MAPPINGFILE_MF_MAPPINGFILETYPE_GENERATE_MAPPING_FILE "    /MappingFile(mf)  : <MAPPINGFILETYPE> Generate a mapping file in the given\n                        file format."
    MAKEPRI_STRING_INVALID_FILE_SPECIFIED "Invalid file specified - %s"
    MAKEPRI_STRING_INSUFFICIENT_PRIVILEGES_TO_USE "Insufficient privileges to use %s"
    MAKEPRI_STRING_TARGET_ALREADY_EXISTS "Target %s already exists"
    MAKEPRI_STRING_FORMAT_STRING "%s"
    MAKEPRI_STRING_INVALID_XML "Invalid XML: %s"
    MAKEPRI_STRING_OUTPUT_FILE_AT "Output File at %s"
    MAKEPRI_STRING_SUCCESSFULLY_COMPLETED "Successfully Completed"
    MAKEPRI_STRING_OUTPUT_FILE_ALREADY_EXISTS_OVERWRITE_Y "Output file %s already exists, Overwrite? [Y]es (any other key to cancel):"
    MAKEPRI_STRING_TARGET_DOES_NOT_EXIST "Target %s does not exist"
    MAKEPRI_STRING_WRITING_PRI_CONFIG_FILE_TO "Writing PRI config file to %s ..."
    MAKEPRI_STRING_WRITING_INDEXLOG_FILE_TO "Writing IndexLog file to %s ..."
    MAKEPRI_STRING_INDEX_LOG_TARGET_DOES_NOT_EXIST "Target %s does not exist"
    MAKEPRI_STRING_INVALID_VERSION_SPECIFIED "Invalid version specified"
    MAKEPRI_STRING_INVALID_PATH "Invalid path: %s"
    MAKEPRI_STRING_UNEXPECTED_PARAMETER_FOUND "Unexpected parameter found"
    MAKEPRI_STRING_YES "Y"
    MAKEPRI_STRING_FOLLOWING_FILE_S_ALREADY_EXIST_AT "Following file(s) already exist at output location:"
    MAKEPRI_STRING_OVERWRITE_THESE_FILE_S_Y_ES "Overwrite these file(s)? [Y]es (any other key to cancel):"
    MAKEPRI_STRING_VALID_PRI_FILE_WITH_PRI_EXTENSION "Valid PRI file with .pri extension expected"
    MAKEPRI_STRING_APPX_MANIFEST_NOT_FOUND_OR_IS "Appx manifest not found or is invalid. Please ensure well-formed manifest file is present. Or specify an index name with /in switch."
    MAKEPRI_STRING_RESOURCEPACK_AUTOMERGE_OPTION_HELP "    /AutoMerge(am)    : This flag is not recommended for normal use with AppX\n                        packages. It causes Makepri.exe to set the auto\n                        merge flag within the PRI file. By default it is set\n                        to same as the base PRI file."
    MAKEPRI_STRING_PLEASE_PROVIDE_VALID_PROJECT_ROOT "Please provide a valid Project Root"
    MAKEPRI_STRING_CONFIGURATION_FILE_PATH_DOES_NOT_EXIST "Configuration file path does not exist. Generate one with 'Makepri createconfig'"
    MAKEPRI_STRING_AUTOMERGE_CONFLICTS_WITH_PACKAGING "%1!s!AutoMerge cannot be used with isDeploymentMergeable or 'Packaging' node."
    MAKEPRI_STRING_REQUIRED_PARAMETERS "Required Parameters:"
    MAKEPRI_STRING_PLEASE_PROVIDE_CONFIGURATION_FILE_DESTINATION_USING "Please provide Configuration file destination using /cf flag."
    MAKEPRI_STRING_REQUIRED_QUALIFIER_NOT_SPECIFIED_FOR_LANGUAGE "Required qualifier not specified for language. Please specify a qualifier. Example: '/dq lang-en-US'"
    MAKEPRI_STRING_MAKEPRI_EXE_CREATECONFIG_CF_CONFIG_FILE "    MakePri.exe createconfig /cf <config file destination> /dq\n    <default qualifiers> /pv 10.0.0 [options]"
    MAKEPRI_STRING_MAKEPRI_EXE_CREATECONFIG_CF_C_MYAPP "    MakePri.exe createconfig /cf C:\\MyApp\\priconfig.xml /dq en-US /pv 10.0.0 /o"
    MAKEPRI_STRING_MAKEPRI_EXE_CREATECONFIG_CREATES_PRI_CONFIGURATION "    MakePri.exe createconfig creates a PRI configuration file at\n    [config file destination] with default qualifiers specified by\n    [default qualifiers]. Multiple qualifiers are separated by underscores (_)"
    MAKEPRI_STRING_CONFIGXML_CF_FILEPATH_CONFIGURATION_FILE_OUTPUT "    /ConfigXml(cf)    : <FILEPATH> Configuration file output location"
    MAKEPRI_STRING_DEFAULT_DQ_QUALIFIERS_DEFAULT_QUALIFIER_SET "    /Default(dq)      : <QUALIFIERS> The default qualifier set in the\n                        configuration file. Some qualifiers are required\n                        (i.e. language)"
    MAKEPRI_STRING_QUALIFIERS_IS_VALID_QUALIFIER_TOKEN_I "    QUALIFIERS       - is a valid qualifier token\n                  (i.e. lang-en-US_scale-100_contrast-high)"
    MAKEPRI_STRING_MAKEPRI_EXE_CREATECONFIG_CREATES_PRI_CONFIG "    MakePri.exe createconfig   Creates a PRI Config file for use with other\n                               commands"
    MAKEPRI_STRING_MAPPINGFILETYPE_SUPPORTED_FILE_TYPE_S_APPX "    MAPPINGFILETYPE  - Supported File type(s): 'AppX'"
    MAKEPRI_STRING_MANIFEST_MN_FILEPATH_LOCATION_OF_APPLICATION "    /Manifest(mn)     : <FILEPATH> Location of the application or component's\n                        manifest. This parameter is ignored if [indexname]\n                        is given. Default is [projectroot]\\AppXManifest.xml"
    MAKEPRI_STRING_DEFAULTQUALIFIER_SPECIFIED "DefaultQualifier %s specified"
    MAKEPRI_STRING_OPTION_MANIFEST_SPECIFIED "Option Manifest specified"
    MAKEPRI_STRING_FILE_MOVE_FAILED_FROM_TO "File move failed from '%s' to '%s'."
    MAKEPRI_STRING_INVALID_FILE_EXTENSION_FOUND_IN_ONLY "Invalid file extension found in %s. Only '%s' accepted."
    MAKEPRI_STRING_MAKEPRI_ABORTED "Makepri Aborted"
    MAKEPRI_STRING_VERSIONMAJOR_VMA_INPUT_PARAMETER_HAS_BEEN "'VersionMajor (vma)' input parameter has been deprecated. Please specify major version in the configuration file using 'majorVersion' attribute on 'resources' node."
    MAKEPRI_STRING_DEPLOYMENT_MERGEABLE_UNSUPPORTED_TARGET_OS "%1!s!isDeploymentMergeable is not supported with the given Target OS Version."
    MAKEPRI_STRING_OPTION_EXTENSIONDLL_SPECIFIED "Option ExtensionDll %s specified"
    MAKEPRI_STRING_EXTENSIONDLL_EX_FILEPATH_LOCATION_OF_MRT "    /ExtensionDll(ex) : <FILEPATH> Location of the MRT environment extension\n                        DLL. This DLL must be signed by a Microsoft-issued\n                        certificate. Default is an empty path (no DLL\n                        will be used)."
    MAKEPRI_STRING_OPTION_PLATFORM_SPECIFIED "Option Platform %s specified"
    MAKEPRI_STRING_ERROR_PREFIX "ERROR:"
    MAKEPRI_STRING_WARNING_PREFIX "WARNING:"
    MAKEPRI_STRING_UNSPECIFIED_ERROR "%1!s!Unspecified error occurred."
    MAKEPRI_STRING_SCHEMA_VALIDATION_FAILED "%1!s!Schema Validation Failed. %2!s!"
    MAKEPRI_STRING_CONFIG_NODE_NOT_FOUND "%3!s!: %1!s!%2!s! node not found."
    MAKEPRI_STRING_CONFIG_ATTRIBUTE_NOT_FOUND "%3!s!: %1!s!%2!s! attribute not found."
    MAKEPRI_STRING_CONFIG_ATTRIBUTE_NOT_FOUND_IN_FILE "%3!s!: %1!s!%2!s! attribute not found in the config file."
    MAKEPRI_STRING_CONFIG_PROCESSING_UNKNOWN_ERROR "%3!s!: %1!s!Unknown error occurred while processing."
    MAKEPRI_STRING_DUPLICATE_INDEXER "%3!s!: %1!s!Duplicate %2!s! indexer."
    MAKEPRI_STRING_MAIN_PACKAGE_NODE_NOT_FOUND "%3!s!: %1!s!No main package node found."
    MAKEPRI_STRING_PACKAGING_NODE_EMPTY "%1!s!Invalid configuration. 'Packaging' node is empty."
    MAKEPRI_STRING_CONFIG_PATH_INVALID "%1!s!Invalid path %2!s! in configuration file."
    MAKEPRI_STRING_CONFIG_QUALIFIER_INVALID "%1!s!Invalid qualifier '%2!s!' in configuration file."
    MAKEPRI_STRING_CONFIG_ATTRIBUTE_VALUE_INVALID "%1!s!Invalid attribute value %2!s! in configuration file."
    MAKEPRI_STRING_CONFIG_FILE_PATH_TOO_LONG "%1!s!File path %2!s! too long."
    MAKEPRI_STRING_CONFIG_FILE_OR_FOLDER_TYPE_INVALID "%1!s!Invalid file or folder type %2!s!."
    MAKEPRI_STRING_CONFIG_QUALIFIER_DELIMITER_INVALID "%1!s!Invalid Qualifier delimiter '%2!s!' in configuration file."
    MAKEPRI_STRING_INDEXER_INSTANTIATION_FAILED "%1!s!Indexer %2!s! instantiation failed."
    MAKEPRI_STRING_JSON_DUPLICATE_ENTRY "%3!s!%4!s!: %1!s!Duplicate entry found"
    MAKEPRI_STRING_JSON_MULTIPLE_OBJECTS "%3!s!%4!s!: %1!s!Multiple objects found"
    MAKEPRI_STRING_JSON_MISSING_COMMA_OR_OBJECT_END "%3!s!%4!s!: %1!s!Missing ',' or '}'"
    MAKEPRI_STRING_JSON_INVALID_COMMA_OR_MISSING_OBJECT_NAME "%3!s!%4!s!: %1!s!Invalid ',' or missing object name"
    MAKEPRI_STRING_JSON_MISSING_COLON "%3!s!%4!s!: %1!s!Missing ':'"
    MAKEPRI_STRING_JSON_INVALID_STRING_ENTRY "%3!s!%4!s!: %1!s!Invalid string entry"
    MAKEPRI_STRING_JSON_INVALID_CHARACTER "%3!s!%4!s!: %1!s!Invalid character"
    MAKEPRI_STRING_JSON_MISSING_ROOT_OBJECT "%3!s!%4!s!: %1!s!Missing root object or '{'"
    MAKEPRI_STRING_JSON_INVALID_PROPERTY "%3!s!%4!s!: %1!s!Invalid property"
    MAKEPRI_STRING_JSON_INVALID_ITEM_TYPE "%3!s!%4!s!: %1!s!Invalid Item type"
    MAKEPRI_STRING_JSON_MAX_NODE_DEPTH_EXCEEDED "%3!s!%4!s!: %1!s!Max node depth exceeded"
    MAKEPRI_STRING_INVALID_QUALIFIER "%1!s!Invalid qualifier: %2!s!"
    MAKEPRI_STRING_INVALID_RESOURCE_QUALIFIER_IN_FILENAME "%1!s!Invalid resource qualifier in filename: %2!s!"
    MAKEPRI_STRING_CONFIG_DEFAULT_LANGUAGE_MISSING "%1!s!Missing default Language attribute value in configuration file."
    MAKEPRI_STRING_FILE_NOT_FOUND "%1!s!File %2!s! not found."
    MAKEPRI_STRING_READ_ONLY_RESOURCE_MAP "%1!s!A named resource cannot be added to a read-only resource map."
    MAKEPRI_STRING_MULTIPLE_ENTRIES_FOUND "%1!s!Multiple entries found for '%2!s!'."
    MAKEPRI_STRING_MAKEPRI_EXE_HELP_SHOW_THIS_HELP "    MakePri.exe help           Show this help page"
    MAKEPRI_STRING_DEFAULT_LANGUAGE_RESOURCES_MISSING "%1!s!Resources found for language(s) '%2!s!' but no resources found for default language(s): '%3!s!'. Change the default language or qualify resources with the default language. http://go.microsoft.com/fwlink/?LinkId=231899"
    MAKEPRI_STRING_FILENAME_COULD_NOT_BE_DETERMINED "(Filename could not be determined)"
    MAKEPRI_STRING_FORMAT_MESSAGE_FAILED_WITH_0X "Format message failed with 0x%x"
    MAKEPRI_STRING_PRI_FILE_INVALID "%3!s!: %1!s!PRI file is invalid."
    MAKEPRI_STRING_NAMED_RESOURCE_OUTSIDE_PROJECT_ROOT "%1!s!Named resource '%3!s!' is outside project root! Only resource containers are allowed outside the project root."
    MAKEPRI_STRING_ACCESS_DENIED_PROCESSING_RESOURCE "%1!s!Access denied while processing %3!s!."
    MAKEPRI_STRING_NO_DEFAULT_OR_NEUTRAL_RESOURCE "%1!s!No default or neutral resource given for '%2!s!'. The application may throw an exception for certain user configurations when retrieving the resources."
    MAKEPRI_STRING_TOO_MANY_RESOURCE_NAMES "%1!s!Too many resource names defined."
    MAKEPRI_STRING_OUTPUT_LOCATION_OF_PRI_FILE_S "Output location of PRI file(s) is detected to be under the project root. If previously generated PRI file(s) are present, these may be re-indexed and lead to unexpected results."
    MAKEPRI_STRING_PACKAGING_NODE_UNSUPPORTED_TARGET_OS "%1!s!Invalid configuration. 'Packaging' node is not supported with the given Target OS Version."
    MAKEPRI_STRING_FILE_TOO_LARGE_TO_EMBED "%1!s!File is not embeddable due to its size: %2!s!."
    MAKEPRI_STRING_OPTION_SCHEMAFILE_SPECIFIED "Option SchemaFile specified"
    MAKEPRI_STRING_SCHEMAFILE_SF_FILEPATH_OUTPUT_LOCATION_OF "    /SchemaFile(sf)   : <FILEPATH> Output location of XML resource schema\n                        description."
    MAKEPRI_STRING_DEPLOYMENT_MERGEABLE_FALSE_WITH_PACKAGING "%1!s!Invalid configuration. isDeploymentMergeable cannot be false with 'Packaging' node."
    MAKEPRI_STRING_PACKAGING_MULTIPLE_MODES "%1!s!Invalid configuration. 'Packaging' cannot have more than one mode of operation."
    MAKEPRI_STRING_RESOURCE_PACKAGE_MULTIPLE_QUALIFIERS "%1!s!Invalid configuration. '%2!s!' - Multiple qualifiers in a qualifier set is not supported."
    MAKEPRI_STRING_RESOURCE_PACKAGE_ALREADY_DEFINED "%1!s!Invalid configuration. Resource package '%2!s!' already defined."
    MAKEPRI_STRING_CONFIG_MULTIPLE_INSTANCES "%1!s!Invalid configuration. Multiple instances of '%2!s!' found."
    MAKEPRI_STRING_DEFAULT_QUALIFIER_CANDIDATE_IN_RESOURCE_PACKAGE "%1!s!Invalid configuration. '%2!s!' is a default qualifier and its candidate cannot be added to a resource package."
    MAKEPRI_STRING_RESOURCE_PACKAGE_NO_CANDIDATES "%1!s!No candidates found for resource package '%2!s!'."
    MAKEPRI_STRING_CONFLICTING_RESOURCE_VALUES "%1!s!Conflicting values for resource '%3!s!'"
    MAKEPRI_STRING_RESOURCE_AND_SCOPE_CONFLICT "%1!s!'%3!s!' or one if its parents is defined as both resource and scope, which is not allowed."
    MAKEPRI_STRING_AUTOMATIC_RESOURCE_PACKAGE_UNSUPPORTED_QUALIFIER "%1!s!Automatic resource package generation is not supported for %2!s! qualifier."
    MAKEPRI_STRING_EXTENSION_REQUIREMENTS_NOT_MET "%1!s!The extension specified with the /ex option does not meet requirements."
    MAKEPRI_STRING_EXTENSION_UNSUPPORTED "%1!s!The extension specified with the /ex option is not supported."
    MAKEPRI_STRING_EXTENSION_NOT_MICROSOFT_SIGNED "%1!s!The extension specified with the /ex option is not signed by a Microsoft Certificate Authority and cannot be used."
    MAKEPRI_STRING_OPTION_REVERSEMAP_SPECIFIED "Option reversemap specified"
    MAKEPRI_STRING_REVERSEMAP_RM_GENERATE_REVERSE_MAPPING_SECTION "    /ReverseMap(rm)   : Generate a reverse mapping section in the PRI file\n                        which can be used for debugging purposes."
    MAKEPRI_STRING_INVALID_PLATFORM_VERSION "Invalid platform version '%s'."
    MAKEPRI_STRING_PLATFORM_PV_VERSION_PLATFORM_VERSION_TO "    /Platform(pv)     : <VERSION> Platform version to use for generated\n                        configuration file."
    MAKEPRI_STRING_PLATFORM_PV_NOT_SPECIFIED_DEFAULT_IS "'Platform (pv)' not specified. Default is Windows 10."
    MAKEPRI_STRING_CANNOT_SPECIFY_BOTH_PLATFORM_PV_AND "Cannot specify both Platform(pv) and ExtensionDll(ex)."
    MAKEPRI_STRING_QUALIFIER_VALUE_NOT_ALLOWED "%1!s!Qualifier value '%2!s!' is not allowed by the specified config file."
    MAKEPRI_STRING_ALLOWED_NODE_PARSE_FAILED "%1!s!Invalid configuration. Failed to parse the 'allowed' node."
    MAKEPRI_STRING_OPTION_EXTERNAL_SCHEMA_SPECIFIED "Option External Schema %s specified"
    MAKEPRI_STRING_EXTERNALSCHEMA_ES_FILEPATH_LOCATION_OF_EXTERNAL "    /ExternalSchema(es) : <FILEPATH> Location of the external schema file"
    MAKEPRI_STRING_RESOURCE_LINK_TARGET_IS_LINK "%1!s!Resource link target cannot be a linked resource."
    MAKEPRI_STRING_LINKED_RESOURCE_CANDIDATE_CONFLICT "%1!s!Linked resource has candidates which conflict with the link target."
    MAKEPRI_STRING_OPTION_OUTPUTOPTIONS_SPECIFIED "Option OutputOptions specified"
    MAKEPRI_STRING_OUTPUTOPTIONS_OO_SPECIFIED_WHEN_NO_OUTPUT "'OutputOptions' (oo) specified when no output is written."
    MAKEPRI_STRING_OUTPUTOPTIONS_OO_OPTIONS_OPTIONS_TO_PROVIDE "    /OutputOptions(oo): <OPTIONS> Options to provide detailed control over\n                        contents of XML output files."
    MAKEPRI_STRING_SPECIAL_FILE_OR_FOLDER_IGNORED "%1!s!File or folder ignored due to file attributes (hidden, system, link): %2!s!."
    MAKEPRI_STRING_OPTION_INDEXOPTIONS_SPECIFIED "Option IndexOptions specified"
    MAKEPRI_STRING_INDEXOPTIONS_IO_SPECIFIED_WHEN_NO_RESOURCES "'IndexOptions' (io) specified when no resources are to be indexed."
    MAKEPRI_STRING_INDEXOPTIONS_IO_OPTIONS_OPTIONS_TO_PROVIDE "    /IndexOptions(io) : <OPTIONS> Options to provide detailed control over\n                        behavior of resource indexers."
    MAKEPRI_STRING_OUTPUT_OPTIONS_ARE_COMMA_SEPARATED_LIST "Output Options are a comma-separated list comprised of the following options:"
    MAKEPRI_STRING_PRIHEADER_PH_WRITE_OMIT_PRIHEADER_ELEMENT "    +/-PriHeader(ph)               - Write/Omit PriHeader element"
    MAKEPRI_STRING_INDEXES_IX_WRITE_OMIT_INDEX_ATTRIBUTE "    +/-Indexes(ix)                 - Write/Omit index attribute for ResourceMapSubtree, NamedResource,\n                                     Qualifier, QualifierSet and Decision elements"
    MAKEPRI_STRING_URIS_URI_WRITE_OMIT_URI_ATTRIBUTE "    +/-Uris(uri)                   - Write/Omit uri attribute for NamedResource elements"
    MAKEPRI_STRING_QUALIFIERINFO_QI_WRITE_OMIT_GLOBAL_QUALIFIERINFO "    +/-QualifierInfo(qi)           - Write/Omit global QualifierInfo element"
    MAKEPRI_STRING_RESOURCEMAPS_RM_WRITE_OMIT_RESOURCEMAP_ELEMENT "    +/-ResourceMaps(rm)            - Write/Omit ResourceMap element"
    MAKEPRI_STRING_VERSIONINFO_VI_WRITE_OMIT_VERSIONINFO_ELEMENT "    +/-VersionInfo(vi)             - Write/Omit VersionInfo element"
    MAKEPRI_STRING_EMPTYSUBTREES_ES_WRITE_OMIT_RESOURCEMAPSUBTREE_ELEMENTS "    +/-EmptySubtrees(es)           - Write/Omit ResourceMapSubtree elements for subtrees that do not\n                                     contain candidates"
    MAKEPRI_STRING_EMPTYNAMEDRESOURCES_ENR_WRITE_OMIT_NAMEDRESOURCE_ELEMENTS "    +/-EmptyNamedResources(enr)    - Write/Omit NamedResource elements for resources with no candidates"
    MAKEPRI_STRING_LINKS_L_WRITE_OMIT_LINK_ELEMENTS "    +/-Links(l)                    - Write/Omit Link elements"
    MAKEPRI_STRING_NAMEDRESEOURCEDECISION_NRD_WRITE_OMIT_DECISION_ELEMENT "    +/-NamedReseourceDecision(nrd) - Write/Omit Decision element in NamedResources"
    MAKEPRI_STRING_CANDIDATES_C_WRITE_OMIT_CANDIDATE_ELEMENT "    +/-Candidates(c)               - Write/Omit Candidate element for resources that do not use links"
    MAKEPRI_STRING_LINKEDCANDIDATES_LC_WRITE_OMIT_DEFAULT_CANDIDATE "    +/-LinkedCandidates(lc)        - Write/Omit(default) Candidate element for resources that do not use links"
    MAKEPRI_STRING_SANITIZEXML_SXML_SANITIZE_PRESERVE_DEFAULT_CERTAIN "    +/-SanitizeXml(sxml)           - Sanitize/Preserve(default) certain illegal special characters in XML output"
    MAKEPRI_STRING_OUTPUTOPTIONS_ARE_ENABLED_BY_DEFAULT_UNLESS "OutputOptions are enabled by default unless otherwise specified"
    MAKEPRI_STRING_INDEX_OPTIONS_ARE_COMMA_SEPARATED_LIST "Index Options are a comma-separated list comprised of the following options:"
    MAKEPRI_STRING_HIDDENFILES_HF_INDEX_IGNORE_HIDDEN_FILES "    +/-HiddenFiles(hf)             - Index/Ignore hidden files and folders"
    MAKEPRI_STRING_LINKEDFILES_LF_INDEX_IGNORE_LINKED_FILES "    +/-LinkedFiles(lf)             - Index/Ignore linked files and folders"
    MAKEPRI_STRING_INDEXOPTIONS_ARE_DISABLED_BY_DEFAULT "IndexOptions are disabled by default"
    MAKEPRI_STRING_MAIN_PRI_REQUIRED_TO_INDEX_RESOURCE_PACKAGE "%1!s!To index a .pri file from resource package you must supply the main package .pri file with '/io is=<path>'"
    MAKEPRI_STRING_UNABLE_TO_LOAD_SCHEMA_FROM "Unable to load schema from '%s'."
    MAKEPRI_STRING_UNSUPPORTED_FILE_TYPE_FOR_SCHEMA_FILE "Unsupported file type for schema file '%s'."
    MAKEPRI_STRING_SPECIFYING_MICROSOFT_INTERNAL_METADATA_CONTENT_CHECKSUM "Specifying Microsoft internal metadata content checksum value is not a valid option. It requires to enable the calculation of the content checksum using /io cc"
    MAKEPRI_STRING_INVALID_CONTENT_CHECKSUM_VALUE_SPECIFIED "Invalid content checksum value specified"
    MAKEPRI_STRING_EXTERNAL_SCHEMA_REQUIRED_TO_DUMP_RESOURCE_PACKAGE "%1!s!To dump this resource package you must supply the main package .pri file with '/es <path>'."
END
